* {
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    height  : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 270px;
    height: 400px;
    padding: 0.75rem;
    border-radius: 1rem;
}

.qr-code__img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.description {
    font-family: 'Outfit', sans-serif;
    padding: 0 1rem;
    text-align: center;
}

.description__title {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.description__content {
    font-weight: 500;
    color: hsl(220, 15%, 55%);
    font-size: 0.8rem;
}

@media screen and (min-width:375px) {

    html {
        font-size: 22px;
    }

    body {
        padding: 1rem;
        height: 100vh;
    }
    
    .container {
        width: 330px;
        height: 500px;
    }

    .description__title {
        font-size: 1rem;
    }

    .description__content {
        font-size: 0.75rem;
    }

}